#my-lut-canvases-l1(style='display:none')
.visualizerRender.col-md-10(style='padding:0px')
  #r0.renderer.col-md-6
  //- #tableStat.collapse
  //-   .s-toggle-crossfilter.checkbox
  //-     label
  //-       input#s-toggle-crossfilter(type='checkbox')
  //-       | Use Crossfilter
  //- button.btn.icon-table(type='button' data-toggle="collapse" data-target="#tableStat" style='position:fixed;z-index:1;left:48%;font-size:15px')
  #r1.rendererFalse 
  #r2.rendererFalse 
  #r3.renderer.col-md-6
  #editor
    #r0Editor.domExploring.col-md-6
    #r3Editor.domExploring.col-md-6
#my-gui-container.col-md-2
.createAnalysis
