
#my-lut-canvases-l1
.visualizer
	#r0.renderer3d
	#tableStat.collapse
		.s-toggle-crossfilter.checkbox
			label
				input#s-toggle-crossfilter(type='checkbox')
				| Use Crossfilter
	button.btn.icon-table(type='button' data-toggle="collapse" data-target="#tableStat" style='position:fixed;z-index:1;left:48%;font-size:15px')
	#r1.renderer3d 
	#r2.renderer3d 
	#r3.renderer3d 
.createAnalysis